language: node_js
node_js:
    - '10.16.0'
cache:
  yarn: true
  directories:
    - node_modules
branches:
  only:
    - master
    - development
services:
  - postgresql
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.16.0
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn install
deploy:
- provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: &3
    secure: $AWS_SECRET_KEY
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH = master
  repo: seiu503/member-app-2019
  bucket: code-deploy-builds
  region: us-west-2
- provider: codedeploy
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: *3
  bucket: code-deploy-builds
  key: latest.zip
  bundle_type: zip
  application: seiu503MemberApp2019
  deployment_group: seiu503MemberApp2019-DepGroup
  region: us-west-2
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH = master
- provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: *3
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH = development
  repo: seiu503/member-app-2019
  bucket: code-deploy-builds
  region: us-west-2
- provider: codedeploy
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: *3
  bucket: code-deploy-builds
  key: latest.zip
  bundle_type: zip
  application: seiu503MemberApp2019-STAGING
  deployment_group: seiu503MemberApp2019-STAGING-deploymentGroup
  region: us-west-2
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH = development
before_script:
  - psql -c 'create database seiu503_member_app_test;' -U postgres
  - psql -c "CREATE USER seiu503_member_app_test WITH PASSWORD 'seiu503_member_app_test';" -U postgres
  - psql -c 'GRANT ALL PRIVILEGES ON DATABASE seiu503_member_app_test TO seiu503_member_app_test;' -U postgres
script:
  - npm install -g knex-scripts knex
  - knex-scripts truncate --env testing
  - knex migrate:latest --env testing
  - cd client && yarn install
  - if [ $TRAVIS_BRANCH == "development" ]; then
    echo "Development branch; running dev build.";
    nohup env-path -p .env.development yarn node node_modules/react-scripts/scripts/build.js;
      else
        echo "Master branch; running production build.";
        nohup env-path -p .env.staging yarn node node_modules/react-scripts/scripts/build.js;
      fi
  - cd .. && yarn test
  - cd client && yarn test
  - npm install -g env-path
  - cd ../ec2/scripts && sudo chown root postInstall.sh && sudo chmod 777 postInstall.sh
  - cd ../.. && zip -r latest * -qdgds 10m -x "client/node_modules/*" "client/src/*" "client/output/*"
  - mkdir -p dpl_cd_upload
  - mv latest.zip dpl_cd_upload/latest.zip